{% extends "base.html" %}

{% block title %}
Tambah Kategori
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}

<div class="form-page">
    <div class="form-card">

        <div class="header">
            <div>
                <h1>Tambah Kategori</h1>
                <p>Isi nama kategori baru di bawah ini.</p>
            </div>
        </div>

        <form method="POST">

            <div class="form-group">
                <label>Nama Kategori</label>
                <input
                    type="text"
                    name="name"
                    placeholder="Contoh: Elektronik"
                    required
                >
            </div>

            <button type="submit" class="btn">
                Simpan
            </button>

        </form>

    </div>
</div>
{% endblock %}