{% extends "base.html" %}

{% block title %}
Transaksi
{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h1>
            Transaksi
        </h1>

        <p>
            Daftar transaksi penjualan.
        </p>
    </div>

    <a
        href="{{ url_for('sale.add_sale') }}"
        class="btn"
    >
        + Tambah Transaksi
    </a>

</div>


<div class="dashboard-card">

    <div class="card-header">

        <div>
            <h2>
                Riwayat Transaksi
            </h2>

            <p class="card-description">
                Daftar seluruh transaksi penjualan.
            </p>
        </div>

    </div>


    {% if sales %}

        <div class="table-wrapper">

            <table>

                <thead>

                    <tr>
                        <th>ID</th>
                        <th>Total</th>
                        <th>Tanggal</th>
                        <th>Aksi</th>
                    </tr>

                </thead>


                <tbody>

                    {% for sale in sales %}

                        <tr>

                            <td>
                                #{{ sale.id }}
                            </td>

                            <td>
                                Rp {{ "{:,.0f}".format(sale.total).replace(",", ".") }}
                            </td>

                            <td>
                                {{ sale.created_at.strftime("%d-%m-%Y %H:%M") }}
                            </td>

                            <td>

                                <a
                                    href="{{ url_for('sale.detail_sale', sale_id=sale.id) }}"
                                    class="btn btn-small"
                                >
                                    Detail
                                </a>

                            </td>

                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    {% else %}

        <p class="empty">
            Belum ada transaksi.
        </p>

    {% endif %}

</div>

{% endblock %}