{% extends "base.html" %}

{% block title %}
Tambah Produk
{% endblock %}

{% block content %}

<h1>Tambah Produk</h1>

<form method="POST">

    <div>
        <label>Nama Produk</label>
        <input
            type="text"
            name="name"
            placeholder="Contoh: Indomie"
            required
        >
    </div>

    <div>
        <label>Harga</label>
        <input
            type="number"
            name="price"
            min="0"
            placeholder="Contoh: 3500"
            required
        >
    </div>

    <div>
        <label>Stock</label>
        <input
            type="number"
            name="stock"
            min="0"
            placeholder="Contoh: 20"
            required
        >
    </div>

    <div>
        <label>Kategori</label>
        <select name="category_id" required>
            <option value="">
                Pilih Kategori
            </option>
            {%for category in categories %}
            <option value="{{category.id}}">
                {{category.name}}
            </option>
            {%endfor%}
        </select>
    </div>

    <button type="submit">
        Simpan
    </button>
</form>
{% endblock %}