<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Flask CRUD{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>
        <h2>Flask CRUD</h2>
        <div class="nav-links">
            <a href="{{url_for('product.dashboard')}}">Dashboard</a>
            <a href="{{url_for('product.index')}}">Produk</a>
            <a href="{{url_for('category.index')}}">Kategori</a>
            <a href="{{url_for('sale.index')}}">Transaksi</a>
        </div>
    </nav>

    <main>
        {%with messages = get_flashed_messages()%}
            {%if messages%}
                {%for message in messages%}
                    <div class="flash-message">
                        {{message}}
                    </div>
                {%endfor%}
            {%endif%}
        {%endwith%}

        {%block content%}
        {%endblock%}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>