<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Flask CRUD{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/base.css') }}">
    {% block extra_css %} {% endblock %}
</head>

<body>

    <nav>
        <div class="brand">
            <div class="brand-icon">
                M
            </div>

            <div>
                <h2>MBISMAP</h2>
                <span>Inventory System</span>
            </div>
        </div>


        <div class="nav-links" id="navLinks">
            <span class="nav-indicator" id="navIndicator"></span>
            <a
                href="{{ url_for('product.dashboard') }}"
                class="{% if request.endpoint == 'product.dashboard' %}active{% endif %}"
            >
                Dashboard
            </a>

            <a
                href="{{ url_for('product.index') }}"
                class="{% if request.endpoint == 'product.index' %}active{% endif %}"
            >
                Produk
            </a>

            <a
                href="{{ url_for('category.index') }}"
                class="{% if request.endpoint == 'category.index' %}active{% endif %}"
            >
                Kategori
            </a>

            <a
                href="{{ url_for('sale.index') }}"
                class="{% if request.endpoint == 'sale.index' %}active{% endif %}"
            >
                Transaksi
            </a>

            <a 
                href="{{ url_for('user.change_my_password')}}"
                class="{% if request.endpoint == 'user.change_my_password' %}active{% endif %}"
            >
                Ubah Password
            </a>
        </div>

    </nav>

    <main>
        {%with messages = get_flashed_messages()%}
            {%if messages%}
                {%for message in messages%}
                    <div class="flash-message">
                        {{message}}
                    </div>
                {%endfor%}
            {%endif%}
        {%endwith%}

        {%block content%}
        {%endblock%}
    </main>

    <script src="{{url_for('static', filename='js/base.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chart.umd.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chart.js')}}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {%block scripts%}
    {%endblock%}

</body>
</html>