{% extends "base.html" %}

{% block title %}
Edit Produk
{% endblock %}

{% block extra_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}

<div class="form-page">
    <div class="form-card">

        <div class="header">
            <div>
                <h1>Edit Produk</h1>
                <p>Perbarui data produk di bawah ini.</p>
            </div>
        </div>

        <form
            method="POST"
            action="{{ url_for('product.edit_product', id=product.id) }}">

            <div class="form-group">
                <label>Nama Produk</label>
                <input
                    type="text"
                    name="name"
                    value="{{ product.name }}"
                    required
                >
            </div>

            <div class="form-group">
                <label>Harga</label>
                <input
                    type="number"
                    name="price"
                    value="{{ product.price }}"
                    min="0"
                    required
                >
            </div>

            <div class="form-group">
                <label>Stock</label>
                <input
                    type="number"
                    name="stock"
                    value="{{ product.stock }}"
                    min="0"
                    required
                >
            </div>

            <div class="form-group">
                <label>Kategori</label>
                <select name="category" required>
                    {% for category in categories %}
                        <option
                        value="{{ category.id }}"
                        {% if category.id == product.category %}selected{% endif %}
                        >
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn">
                Simpan Perubahan
            </button>
        </form>

    </div>
</div>

{% endblock %}