{% extends "base.html" %}

{% block content %}

<h1>Reset Password</h1>

<p>Akun: <strong>{{ user.email }}</strong></p>

<form method="POST">

    <div>
        <label>Password Baru</label>
        <input
            type="password"
            name="new_password"
            required
        >
    </div>

    <div>
        <label>Konfirmasi Password Baru</label>
        <input
            type="password"
            name="confirm_password"
            required
        >
    </div>

    <button type="submit">
        Reset Password
    </button>

</form>
{% endblock %}