{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/rpass.css') }}">
{% endblock %}

{% block content %}

<div class="rp-container">
    <div class="rp-card">

        <div class="rp-icon">
            🔐
        </div>

        <h1>Reset Password</h1>
        <p class="rp-desc">Akun: <strong>{{ user.email }}</strong></p>

        <form method="POST" id="resetForm">

            <div class="form-group">
                <label>Password Baru</label>
                <input
                    type="password"
                    name="new_password"
                    id="newPassword"
                    required
                >
                <div class="strength-meter">
                    <div class="strength-bar" id="strengthBar"></div>
                </div>
                <span class="strength-label" id="strengthLabel">&nbsp;</span>
            </div>

            <div class="form-group">
                <label>Konfirmasi Password Baru</label>
                <input
                    type="password"
                    name="confirm_password"
                    id="confirmPassword"
                    required
                >
                <span class="match-label" id="matchLabel">&nbsp;</span>
            </div>

            <button type="submit" class="btn">
                Reset Password
            </button>

        </form>

    </div>
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='js/rpass.js')}}"></script>
{% endblock %}

{% endblock %}