{% extends "base.html" %}

{% block title %}
Verifikasi OTP
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/otp.css') }}">
{% endblock %}

{% block content %}

<div class="otp-container">
    <div class="otp-card">

        <div class="otp-icon">
            📩
        </div>

        <h1>Verifikasi OTP</h1>

        <p class="otp-desc">
            Kode OTP telah dikirim ke akun
            <strong>{{ user.email }}</strong>
        </p>

        <form method="POST">

            <div class="form-group">
                <input
                    type="text"
                    name="otp"
                    maxlength="6"
                    minlength="6"
                    inputmode="numeric"
                    pattern="[0-9]{6}"
                    placeholder="- - - - - -"
                    autocomplete="one-time-code"
                    required
                >
            </div>

            <button type="submit" class="btn">
                Verifikasi OTP
            </button>

        </form>

    </div>
</div>

{% endblock %}