{% extends "base.html" %}

{% block extra_css%}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}

<h1>Ubah Password User</h1>

<p>
    User: <strong>{{ user.name }}</strong>
</p>

<p>
    Email: <strong>{{ user.email }}</strong>
</p>

<form method="POST">

    <div>
        <label>Password Baru</label>
        <input
            type="password"
            name="password"
            required
        >
    </div>

    <div>
        <label>Konfirmasi Password</label>
        <input
            type="password"
            name="confirm_password"
            required
        >
    </div>

    <button type="submit">
        Simpan Password
    </button>

</form>

{% endblock %}